.card {
  display: grid;
  grid-auto-rows: 1fr;
  max-width: 400px;
  background-color: var(--clr-white);
  border-radius: var(--border-radius-md);
  overflow: clip;
  box-shadow: var(--shadow-md);
  text-align: left;
  transition: transform 300ms;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.025);
}

.image {
  box-shadow: var(--shadow-md);
  max-height: 200px;
  justify-self: center;
}

.content {
  padding: 2rem;
  font-size: var(--fs-small);
  font-weight: var(--fw-light);
}

.stronger {
  font-weight: var(--fw-regular);
}

.title {
  font-size: var(--fs-regular);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}
