.searchBar {
  display: flex;
  gap: 1.25em;
  background-color: var(--clr-white);
  padding-left: 1.25em;
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);
  width: 100%;
  max-width: 25em;
  overflow: clip;
}

.searchBar:hover {
  cursor: text;
}

.searchBar:focus-within {
  outline: var(--clr-outline) solid 2px;
}

.searchIcon {
  fill: var(--clr-neutral-600);
}

.input {
  font-size: var(--fs-small);
  padding-block: 0.75rem;
  border: none;
  width: 100%;
}

.input:focus {
  outline: none;
}

[data-theme='dark'] .searchBar,
[data-theme='dark'] .input {
  background-color: var(--clr-dark-blue-700);
}

[data-theme='dark'] .input::placeholder {
  color: var(--clr-white);
}

[data-theme='dark'] .searchIcon {
  fill: var(--clr-white);
}
