:root {
  --fw-light: 300;
  --fw-regular: 600;
  --fw-bold: 800;

  --fs-small: 0.875rem;
  --fs-regular: 1rem;
  --fs-medium: 1.25rem;
  --fs-large: 1.5rem;

  --clr-white: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 98%);
  --clr-neutral-600: hsl(0, 0%, 52%);
  --clr-transparent-5: hsla(0, 0%, 0%, 0.05);
  --clr-transparent-10: hsla(0, 0%, 0%, 0.1);
  --clr-transparent-15: hsla(0, 0%, 0%, 0.15);

  --clr-outline: #ff7d29;

  --clr-dark-blue-700: hsl(209, 23%, 22%);
  --clr-dark-blue-800: hsl(207, 26%, 17%);
  --clr-dark-blue-900: hsl(200, 15%, 8%);

  --shadow-sm: 0 2px 5px 2px var(--clr-transparent-5);
  --shadow-md: 0 2px 10px 2px var(--clr-transparent-10);
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.35rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nunito Sans', system-ui, sans-serif;
  color: var(--clr-dark-blue-900);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

a:focus {
  outline-color: var(--clr-outline);
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

input:focus,
button:focus {
  outline: var(--clr-outline) auto 2px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
