.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-white);
  padding: 1.5rem 1rem;
  box-shadow: var(--shadow-md);
}

.title {
  font-size: var(--fs-regular);
  font-weight: var(--fw-bold);
}

@media only screen and (min-width: 640px) {
  .header {
    padding-inline: 5rem;
  }
  .title {
    font-size: var(--fs-large);
  }
}
